
body{
    overflow-y: hidden;
}
.slide{
    height: 150px;
    width: 200px;
    display: grid;
    place-items: center;
    padding: 15px;
    perspective: 100px;
    
}

img{
    height: 100%;
    width:90%;
    transition: transform 1s;
}
.image-slider{
    display: grid;
    place-items: center;

    position: relative;

    overflow: hidden;
    height: 300px;  
    width: 100%;
    top: 46%;
    
}
.image-slider-track{
    display: flex;
    width:calc(250px*12);
    animation: play 40s linear infinite;
}

@keyframes play{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-250px*6));
    }
}


.content{
    display: none;
    color: aliceblue;
    z-index: 1;

}
/* 
.image-slider::before,
.image-slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    width: 15%;
    z-index: 2;
    position: absolute;

    }

    .image-slider::before{
        left:0;
        top:0;
    }

    .image-slider::after{
        right:0;
        top:0;
        background: linear-gradient(to left,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);

    } */

    img:hover{
        transform: translateZ(20px);
    }
    .slide img:hover .content{
        display: block;
        color: white;
        width: 20px;
        background-color: gray;
    }